# Base de dados
DB_HOST=127.0.0.1
DB_NAME=estelsgp
DB_USER=root
DB_PASS=

# SMTP
APP_MAIL_HOST=smtp.exemplo.pt
APP_MAIL_PORT=587
APP_MAIL_ENCRYPTION=tls
APP_MAIL_USERNAME=utilizador_smtp
APP_MAIL_PASSWORD=palavra_passe_smtp
APP_MAIL_FROM_EMAIL=naoresponder@estel.edu.pt
APP_MAIL_FROM_NAME=ESTEL SGP
